*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

:root
{
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;

   /* box shadows */
  --shadow-box: 0 3px 15px rgba(113,115,119,0.5);

  /* inuut shadow */
  --input-shadow: 0 3px 15px rgba(84,84,84,0.1);
}
body
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452) ;
}

.cal
{
  border: 1px solid #717377;
  padding: 20px;
  border-radius: var(--spacing-md);
  background: transparent;
  box-shadow: var(--shadow-box);
}

input
{
  border: none;
  width: 320px;
  padding: var(--spacing-lg);
  margin: var(--spacing-md);
  background: transparent;
  box-shadow: var(--input-shadow);
  font-size: var(--spacing-xl);
  text-align: right;
  cursor: pointer;
  color: white;
}

 button
 {
  border :none;
  width: 60px;
  height: 60px;
  margin: var(--spacing-sm);
  border-radius: var(--spacing-2xl);
  background: transparent;
  color: white;
  font-size: var(--spacing-lg);
  box-shadow: var(--input-shadow);
  cursor: pointer; 
 }

 button.equalBtn
 {
  background-color: rgb(255, 170, 0);
 }

 button.opr
 {
  color: rgb(31, 216, 123);
 }
 
 